<div class="container-fluid" style="background-color: white;">
	<div style="padding: 5px 45px; margin: 0 -15px;background-color: #F1F1F1;color: #9C9C9C; font-weight: bold;">
		{{authorInfo.title}}
		<div style="font-weight: normal;font-size: 11px;color: #B7B6B6;">{{authorInfo.authorName}}</div>
	</div>
	<div id="scroller-wrapper-text" v-on="scroll: onScroll" style="top: 107px;position: fixed;bottom: 0px; overflow-y: scroll; width: auto">
		<div id="bookTextScrollerDiv">						
 			<div v-html="bookText" style="background-color: white; font-size: 25px; margin: 20px"></div>
		</div>
	</div>
</div> 