    <!-- BEGIN TOP NAV -->
<div class="top-navbar">
    <div class="top-navbar-inner">
        
        <!-- Begin Logo brand -->
        <div class="logo-brand">
            <a href="home"><img src="src/img/logo.png" alt="SI Informer logo"></a>
        </div><!-- /.logo-brand -->
        <!-- End Logo brand -->
        
        <div class="top-nav-content">
            
            <!-- Begin button sidebar left toggle -->
            <div class="btn-collapse-sidebar-left" v-on="click: toggleLeftSideMenu" >
                <i class="fa fa-bars"></i>
            </div><!-- /.btn-collapse-sidebar-left -->
            <!-- End button sidebar left toggle -->
            
            <!-- Begin button sidebar right toggle -->
<!--                         <div class="btn-collapse-sidebar-right">
                <i class="fa fa-bullhorn"></i>
            </div> --><!-- /.btn-collapse-sidebar-right -->
            <!-- End button sidebar right toggle -->
            
            <!-- Begin button nav toggle -->
            <div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
                <i class="fa fa-plus icon-plus"></i>
            </div><!-- /.btn-collapse-sidebar-right -->
            <!-- End button nav toggle -->
            
            
            <!-- Begin user session nav -->
            <!--<ul class="nav-user navbar-right">
                 {{#if currentUser}}
                <li class="dropdown">
                  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{avatar}}" class="avatar img-circle" alt="Avatar">
                    Hi, <strong>{{loggedInUser}}</strong>
                  </a>
                  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                    <li><a href="{{pathFor 'logout'}}">Log out</a></li>
                  </ul>
                </li>
                {{else}}
                <li class="dropdown">
                  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">                                
                    <strong>Signup/Login</strong>
                  </a>
                  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/login">Login</a></li>
                  </ul>
                </li>
                {{/if}}
            </ul> -->
            <!-- End user session nav -->
            
            <!-- Begin Collapse menu nav -->
            <div class="collapse navbar-collapse" id="main-fixed-nav">
                <!-- Begin nav search form -->
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <!-- End nav search form -->
                <ul class="nav navbar-nav navbar-left">
                    <!-- Begin nav notification -->
                    <!-- {{> header_notifications}} -->
                    <!-- End nav notification -->                               
                    <!-- Begin nav message -->
                    <!-- {{> header_messages}} -->
                    <!-- End nav message -->
                    <!-- Begin nav friend requuest -->
                    <!-- {{> header_friends}} -->
                    <!-- End nav friend requuest -->
                </ul>
            </div><!-- /.navbar-collapse -->
            <!-- End Collapse menu nav -->
        </div><!-- /.top-nav-content -->
    </div><!-- /.top-navbar-inner -->
</div><!-- /.top-navbar -->
<!-- END TOP NAV -->
