
<!-- BEGIN SIDEBAR LEFT -->
<div class="sidebar-left sidebar-nicescroller toggle">
	<ul class="sidebar-menu">
		<li>
			<a href="#"  v-on="click: onClick($event, 'dashboard')">
				<i class="fa fa-bar-chart-o icon-sidebar"></i>
				Общая
				<span class="label label-danger span-sidebar"></span>
			</a>
		</li>
<!-- 					<li>
			<a v-on="click: onClick" href="#">
				<i class="fa fa-dashboard icon-sidebar"></i>
				Dashboard
				<span class="label label-success span-sidebar"></span>
			</a>
		</li> -->
<!-- 					<li>
			<a href="">
				<i class="fa fa-desktop icon-sidebar"></i>
				<i class="fa fa-angle-right chevron-icon-sidebar"></i>
				Admin board
				</a>
			<ul class="submenu"> -->
				<li><a v-on="click: onClick($event, 'authors')" href="#">
					<i class="fa fa-users icon-sidebar"></i>
					Авторы
					</a>
				</li>
				<li><a v-on="click: onClick($event, 'books')" href="#">
					<i class="fa fa-book icon-sidebar"></i>
					Книги
					</a>
				</li>
				<li><a v-on="click: onClick($event, 'comments')" href="#">
					<i class="fa fa-comment icon-sidebar"></i>
					Комментарии
					</a>
				</li>
				<li><a v-on="click: onClick($event, 'bookreader')" href="#">
					<i class="fa fa-book icon-sidebar"></i>
					Читалка
					</a>
				</li>
<!-- 						</ul>
		</li> -->					
		<!--
		<li>
			<a href="#fakelink">
				<i class="fa fa-flask icon-sidebar"></i>
				<i class="fa fa-angle-right chevron-icon-sidebar"></i>
				Widget UI kits
			</a>
			<ul class="submenu">
				<li><a href="widget-default.html">Default<span class="label label-success span-sidebar">UPDATED</span></a></li>
				<li><a href="widget-store.html">Store</a></li>
				<li><a href="widget-real-estate.html">Real estate <span class="label label-warning span-sidebar">HOT</span></a></li>
				<li><a href="widget-blog.html">Blog</a></li>
				<li><a href="widget-social.html">Social <span class="label label-warning span-sidebar">HOT</span></a></li>
			</ul>
		</li>					
-->				</ul>
</div><!-- /.sidebar-left -->
<!-- END SIDEBAR LEFT -->